[Desktop Entry]
Type=Application
Name=Conky-window-stop
Exec=/opt/scripts/conky-window-stop.sh
StartupNotify=false
Terminal=false
Icon=/usr/share/pixmaps/syslinuxos-conky-window-stop.png
Categories=System;Monitor;
