[Desktop Entry]
Type=Application
Name=Conky-window-start
Exec=/opt/scripts/conky-window-start.sh
StartupNotify=false
Terminal=false
Icon=/usr/share/pixmaps/syslinuxos-conky-window-start.png
Categories=System;Monitor;
